<div class="fwb-p {{pattern-class}}">
    <div class="wrapper" style="background-image:url('{{img-src}}');">
        <div class="{{foreground-class}}">
            <div class="container">
                <div class="text-block-p">{{{content}}}
                </div>
                <div class="button-br">
                    <a class="btn {{btn-class}} btn-lg hvr-sweep-to-right" href="{{btn-link}}" target="{{btn-target}}" role="button">{{{btn-text}}}</a>
                </div>
            </div>
        </div>
    </div>
</div>