<div class="header">
  <div class="wrapper">
    <div class="bg-image">
      <picture>
        <source media="(min-width: 768px)" src="{{img-src}}" srcset="{{img-src}} 1x, {{img-src-2x}} 2x">
        <img src="{{mob-img-src}}" srcset="{{mob-img-src}} 1x, {{mob-img-src-2x}} 2x">
      </picture>
      <div class="text-overlay">
        <h1>{{page-title}}</h1>
        <a href="{{cta-link}}" class="{{cta-class}} hvr-sweep-to-right">{{cta}}</a>
      </div>
    </div>
  </div>
</div>